.recipe-card{
    margin: 1rem;
    margin-bottom: 20px;
    /* max-width: 500px; */
    height: 50vh; 
    /* width: 200px; */
}

/* .media{ */
    /* max-height: 180px; */
    
    /* height: 180px; */
    /* height: 20vh;; */
/* } */
    
