body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito Sans', 'HimawariScript','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'DeliveryNote';
  font-style: 'normal';
  font-display: 'swap';
  src: local('DeliveryNote'), url(./fonts/DeliveryNote.otf) format('otf');
}
@font-face {
  font-family: 'HimawariScript';
  font-style: 'normal';
  font-display: 'swap';
  src: local('HimawariScript'), url(./fonts/HimawariScript.otf) format('otf');
}
